<%= @useer.name %>, <%= @useer.email %>

<% provide(:title, @useer.name) %>
<h1>
<%= gravatar_for @useer %>
<%= @useer.name %>
</h1>

<% provide(:title, @useer.name) %>
<div class="row">
<aside class="col-md-4">
<section class="useer_info">
<h1>
<%= gravatar_for @useer %>
<%= @useer.name %>
</h1>
</section>
</aside>
</div>

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>
<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(@user) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :email %>
<%= f.email_field :email %>
<%= f.label :password %>
<%= f.password_field :password %>
<%= f.label :password_confirmation, "Confirmation" %>
<%= f.password_field :password_confirmation %>
<%= f.submit "Create my account", class: "btn btn-primary" %>
<% end %>
</div>
</div>